/* .featured__title{
  font-size: var(--size-2xl);
  color: var(--clr-light);
}
.featured__subtitle {
  font-size: var(--size-sm);
  color: var(--clr-purple);
}
.featured__wrapper{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.featured__link{
  display: inline-block;
  width: var(--size-2xl);
  height: var(--size-2xl);
}
.featured__description{
  max-width: 60ch;
  color: var(--clr-slate600);
  font-size: var(--size-sm);
  margin: 1rem 0;
} */
/* extra small */
 /* @media (min-width: 475px){
  .featured__title{
    font-size: var(--size-3xl);
    text-transform: uppercase;
  }
  .featured__link{
    display: inline-block;
    width: var(--size-3xl);
    height: var(--size-3xl);
  }
  .featured__description{
    font-size: var(--size-base);
    margin: 1.5rem 0;
  }
  
  } */

  /* small */
  /* @media (min-width: 640px){
   
  } */
  /* medium */
  /* @media (min-width: 768px){
   
  } */
  /* large */
   /* @media (min-width: 1024px){
    .featured__subtitle {
      font-size: var(--size-lg);
    }
    .featured__title{
      font-size: var(--size-4xl);
    }
    .featured__link{
      display: inline-block;
      width: var(--size-4xl);
      height: var(--size-4xl);
    }
    .featured__description{
      font-size: var(--size-lg);
    }
  }  */
  /* extra large */
   /* @media (min-width: 1280px){
    .featured__subtitle {
      font-size: var(--size-xl);
    }
    .featured__title{
      font-size: var(--size-5xl);
    }
    .featured__link{
      display: inline-block;
      width: var(--size-5xl);
      height: var(--size-5xl);
    }
    .featured__description{
      font-size: var(--size-xl);
      margin: 2rem 0;
    }
  }  */
  /* 2 extra large */
  /* @media (min-width: 1536px){
   
  } */
